container{
    background-color: rgb(53, 168, 63);
    margin: 40px;
    padding: 20px;
    border: 1px solid coral;
    border-radius: 10px;
    box-shadow: 0px 0px 10px;
}
h1{
    text-align: left;
    color: rgb(12, 14, 14);
     
}
hr{
    color: rgb(238, 99, 6);
}

    

 #option1{
    background-color: rgb(224, 50, 187);
    padding: 20px;
    color: aqua;
    
    
}
 #option2{
    background-color: #e930da;
    padding: 20px;
    color: aqua;

}
#option3{
    background-color: rgb(226, 59, 198);
    padding: 20px;
    color: aqua;
}
#option4{
    background-color: rgb(243, 89, 217);
    padding: 20px;
    color: aqua;
}
.btnNext{
    background-color: rgb(14, 224, 95);
    color: rgb(14, 14, 13);
    margin-left: 1300px;
    padding: 10px;
    cursor: pointer;
    

    border: 1px solid black;
}




